* {
    padding: 0;
    margin: 0;
    font-family: HelveNeu;
    color: var(--negro);
}

:root {
    --base: rgba(0, 0, 0, .7);
    --azul: rgba(1, 175, 235,1);
    --negro: rgba(0, 0, 0, 1);
    --gris: rgba(133, 133, 133, 1);
    --blanco: #ffff;
    --magenta: rgba(229, 9, 127, 1);
}

@font-face {
    font-family: HelveNeu;
    src: url(../fonts/HelveticaNeue.ttc);
}

/*=============== MEDIA QUERYS ===================*/
@media (min-width:4000px)and (max-width: 5000px) {
    #titulo{ margin-left: 37%; margin-right: -20%; font-size: 1.1vw !important; }

    .imgmuestraser{ 
        width: 100%;
        height: 19vh;
        position: relative;
        float: left;
        cursor: pointer;
    }
    #reds { width: 7em !important; height: 6em !important; margin-left: 25vh !important; }
    .modalhz{ 
        margin-top: 4%; 
        height: 60vh;
        margin-left: 23.5%;
    }
    .modalvert{ 
        margin-top: 6%; 
        margin-left: 41%;
        height: 35vw;
    }
    #piefoto{ 
        color: white;
        margin-left: 32%; 
        font-size: 2vh;
    }
    h1{ font-size: 4.5rem;}

    #at{ 
        filter: invert(100%);
        width: 6em;
        margin-left: 85%;
        
    }
    
    #ad{ 
        filter: invert(100%);
        width: 6em;
        margin-left: 50%;
    }
    .menu{ display: none !important;}
    
    
}

@media (min-width:2048px) {
    /* GENERAL */
    .navbar{
        height: 7vh !important;
    }
    #logo{ width: 5vw; height: 5.5vh; }
    #titulo{ margin-left: 37%; margin-right: -24%; font-size: 1vw !important; }
    .nav-item > a{
        font-size: 1vw;
    }
    .footer {
        width: 100%;
        height: 24%;
        background: var(--negro);
        color:white;
        position: relative;
        float: left;
        border-top: 3px solid var(--negro);
    } 
    .textofoo{
        color:white !important;
        font-size: 2vh !important;
        margin-bottom:0rem !important;
    }
    #face-foo{
        color:white !important;
        font-size: 2vh !important;
        margin-top: 5vh;
        margin-left: 2vw;
    }
    #imagfoo{
        width: 12% !important;
        margin-left: 3vw;
    }
    #col-foo{ margin-top: 3vh; }
    #col-foo1{ margin-top: 3vh; }

    /* INICIO */
    .imgmuestra{
        width: 100%;
        position: relative;
        float: left;
    }
    h4{
        font-size: 2.5rem !important;
    }
    .outmarg{
        margin-right: -1.5%;
        margin-bottom: .5%;
    }

    /* NOSOTROS */
    .main .logo.cursive{
        font-family: 'HelveNeu' !important;
        font-size: 6vh !important;
        
    }
    .info-text{ font-size:3vh !important; }

    /* SERVICIOS */
    .div-xl-6, .div-xl-4, .div-xl-3, .div-xl-12, .div-xl-8, .div-xl-2 {
        float: left;
        margin-right: 1%;
        margin-bottom: 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        position: relative;
    }
    .div-xl-2 { width: 15.666666666667%; }
    .div-xl-3 { width: 24%; }
    .div-xl-4 { width: 32.3333333%; }
    .div-xl-6 { width: 49%; }
    .div-xl-8 { width: 65.666666666667%; }
    .div-xl-12 { width: 99%; }

    span { font-size: 1.8vh; font-weight: 2000;}
    .menu{ display: none !important;}
    .imgmuestraser{ 
        width: 100%;
        height: 19vh;
        position: relative;
        float: left;
        cursor: pointer;
    }

    #fotosdservi{
        width: 100%;
        /* background: black; */
        margin-top: 7vh;
        margin-left: 7vh;
    }

    #infoservicio{ 
        width: 91%;
        height: 90%;
        background: var(--gris);
        margin-top: 7vh;
        margin-left: 4vh;
    }
    #tituloserv{ margin-top: 28vh; }
    #infoser{ margin-top: -70vh; }
    #tituloserv > h4{ font-size:4.5vh!important; border-bottom: 2px}
    h6{ font-size:2.5vh!important;}
            
    .imgserviunico{
        width: 100%;
        position: relative;
        float: left;
    }

    .modalhz{ 
        margin-top: 4%; 
        height: 53vh;
        margin-left: 27.5%;
    }
    .modalvert{ 
        margin-top: 6%; 
        margin-left: 44%;
        height: 26vw;
    }
    #piefoto{ 
        color: white;
        margin-left: 36%; 
        font-size: 2vh;
    }
    h1{ font-size: 4.5rem;}

    #at{ 
        filter: invert(100%);
        width: 4em;
        margin-left: 90%;
    }
    
    #ad{ 
        filter: invert(100%);
        width: 4em;
        margin-left: 10%;
    }


    
    /* CONTACTO */
    #mini{ display: none;}
    #conta{ margin-top: 8vh;}
    #senema{ 
        background: var(--negro);
        height: 40px;
        width: 100%;
        border: 2px solid rgba(192, 192, 192, .6);
        color: white;
        outline: none;
        font-size: 1.6em;
        border-radius: 10px;
    }
    #map2 { 
        height: 22vh;
        margin-left: 2vh;
        float: left;
        margin-top:2vh;
    }
    #map { 
        height: 22vh;
        margin-left: 2vh;
        float: left;
    }
    #imgc { width: 1.2em; height: 1.2em; }
    #mail{ 
        margin-top: 1%;
        background: rgba(192, 192, 192, 1); 
        border-radius: 5px;
        width: 100%;
        float: left;
        height: 35px;
        font-size: 15px;
        font-weight: 200;
        box-sizing: border-box;
        padding: 5px;
        outline: none;
        transition-timing-function: linear;
        /*-webkit-transition: .5s all;*/
        color: rgba(0, 0, 0, 1);
    }
    #cuerpo{ 
        background: rgba(192, 192, 192, 1);
        border: 2px solid rgba(192, 192, 192, 1) !important; 
        margin-top: 2%;
        width:100%; 
        height:40vh;
        outline: none;
        border-radius: 5px;
        resize: none;
    }
    .textoi{ Font-weight:bold; }
    .textod{font-size: 3vh;}
} 

@media (min-width:1200px) and (max-width:2047px){
    /* GENERAL */
    #logo{ width: 4vw; height: 4.5vh; }
    #titulo{ margin-left: 40%; margin-right: -24%; font-size: .8vw; }
    .nav-item > a{
        font-size: 1vw;
    }
    /* INICIO */
    .imgmuestra{
        width: 100%;
        /* height: 28vh; */
        position: relative;
        float: left;
    }
    .outmarg{
        margin-right: -1.5%;
        margin-bottom: .5%;
    }
    .footer {
        width: 100%;
        height: 24%;
        background: var(--negro);
        color:white;
        position: relative;
        float: left;
        border-top: 3px solid var(--negro);
    } 
    .textofoo{
        color:white !important;
        font-size: .9rem !important;
        margin-bottom:0rem !important;
    }
    #face-foo{
        color:white !important;
        font-size: .9rem !important;
        margin-top: 5vh;
        margin-left: 2vw;
    }
    #imagfoo{
        width: 15% !important;
        margin-left: 3vw;
    }
    #col-foo{ margin-top: 3vh; }
    #col-foo1{ margin-top: 3vh; }

    /* SERVICIOS */
    .div-xl-6, .div-xl-4, .div-xl-3, .div-xl-12, .div-xl-8, .div-xl-2 {
        float: left;
        margin-right: 1%;
        margin-bottom: 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        position: relative;
    }
    .div-xl-2 { width: 15.666666666667%; }
    .div-xl-3 { width: 24%; }
    .div-xl-4 { width: 32.3333333%; }
    .div-xl-6 { width: 49%; }
    .div-xl-8 { width: 65.666666666667%; }
    .div-xl-12 { width: 99%; }

    span { font-size: 1.5vh; font-weight: 2000;}
    .menu{ display: none !important;}
    .imgmuestraser{ 
        width: 100%;
        height: 19vh;
        position: relative;
        float: left;
        cursor: pointer;
    }

    #fotosdservi{
        width: 100%;
        /* background: black; */
        margin-top: 7vh;
        margin-left: 7vh;
    }

    #infoservicio{ 
        width: 91%;
        height: 94%;
        background: var(--gris);
        margin-top: 7vh;
        margin-left: 4vh;
    }
    #tituloserv{ margin-top: 28vh; }
    #infoser{ margin-top: -43vh; }
    #tituloserv > h4{ border-bottom: 2px}
            
    .imgserviunico{
        width: 100%;
        position: relative;
        float: left;
    }

    .modalhz{ 
        margin-top: 5vh;
        height: 50vh;
        margin-left: 25.5vw;
    }
    .modalvert{ 
        margin-top: 7vh;
        margin-left: 41vw;
        height: 27vw;
    }
    #piefoto{ 
        color: white;
        margin-left: 31.5vw;
        font-size: 2vh;
    }
    h1{ font-size: 4.5rem;}

    #at{ 
        filter: invert(100%);
        width: 4em;
        margin-left: 85%;
    }
    
    #ad{ 
        filter: invert(100%);
        width: 4em;
        margin-left: 10%;
    }

    h1{ font-size: 2.5rem;}

    /* CONTACTO */
    #mini{ display: none;}
    #conta{ margin-top: 8vh;}
    #senema{ 
        background: var(--negro);
        height: 40px;
        width: 100%;
        border: 2px solid rgba(192, 192, 192, .6);
        color: white;
        outline: none;
        font-size: 1em;
        border-radius: 10px;
    }
    #map2 { 
        height: 180px;
        margin-left: 2vh;
        float: left;
        margin-top:2vh;
    }
    #map { 
        height: 180px;
        margin-left: 2vh;
        float: left;
    }
    #imgc { width: 1.2em; height: 1.2em; }
    #mail{ 
        margin-top: 1%;
        background: rgba(192, 192, 192, 1); 
        border-radius: 5px;
        width: 100%;
        float: left;
        height: 35px;
        font-size: 15px;
        font-weight: 200;
        box-sizing: border-box;
        padding: 5px;
        outline: none;
        transition-timing-function: linear;
        /*-webkit-transition: .5s all;*/
        color: rgba(0, 0, 0, 1);
    }
    #cuerpo{ 
        background: rgba(192, 192, 192, 1);
        border: 2px solid rgba(192, 192, 192, 1) !important; 
        margin-top: 2%;
        width:100%; 
        height:295px;
        outline: none;
        border-radius: 5px;
        resize: none;
    }
    .textoi{ Font-weight:bold; }
}

@media only screen and (min-width: 1026px) and (max-width: 1199px) {
    /* GENERAL */
    #logo{ width: 3.5vw; height: 3.5vh; }
    #titulo{ margin-left: 40%; margin-right: -24%; font-size: .8vw; }
    .nav-item > a{
        font-size: 1vw;
    }
    .body{ height: 93% !important;}
    /* INICIO */
    .imgmuestra{
        width: 100%;
        /* height: 24vh; */
        position: relative;
        float: left;
    }
    .outmarg{
        margin-right: -1.5%;
        margin-bottom: .5%;
    }
    .footer {
        width: 100%;
        height: 24%;
        background: var(--negro);
        color:white;
        position: relative;
        float: left;
        border-top: 3px solid var(--negro);
    } 
    .textofoo{
        color:white !important;
        font-size: .9rem !important;
        margin-bottom:0rem !important;
    }
    #face-foo{
        color:white !important;
        font-size: .9rem !important;
        margin-top: 5vh;
        margin-left: 2vw;
    }
    #imagfoo{
        width: 15% !important;
        margin-left: 3vw;
    }
    #col-foo{ margin-top: 3vh; }
    #col-foo1{ margin-top: 3vh; }

    /* SERVICIOS */
    .div-xl-6, .div-xl-4, .div-xl-3, .div-xl-12, .div-xl-8, .div-xl-2 {
        float: left;
        margin-right: 1%;
        margin-bottom: 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        position: relative;
    }
    .div-xl-2 { width: 15.666666666667%; }
    .div-xl-3 { width: 24%; }
    .div-xl-4 { width: 32.3333333%; }
    .div-xl-6 { width: 49%; }
    .div-xl-8 { width: 65.666666666667%; }
    .div-xl-12 { width: 99%; }
    
    span { font-size: 1.3vh; font-weight: 2000;}
    .menu{ display: none !important;}
    .imgmuestraser{ 
        width: 100%;
        height: 16vh;
        position: relative;
        float: left;
        cursor: pointer;
    }

    #fotosdservi{
        width: 100%;
        /* background: black; */
        margin-top: 7vh;
        margin-left: 7vh;
    }

    #infoservicio{ 
        width: 91%;
        height: 94%;
        background: var(--gris);
        margin-top: 7vh;
        margin-left: 4vh;
    }
    #tituloserv{ margin-top: 28vh; }
    #infoser{ margin-top: -21vh; }
    #tituloserv > h4{ border-bottom: 2px}
            
    .imgserviunico{
        width: 100%;
        position: relative;
        float: left;
    }

    .modalhz{ 
        margin-top: 10vh;
        height: 40vh;
        margin-left: 26.5vw;
    }
    .modalvert{ 
        margin-top: 7vh;
        margin-left: 39vw;
        height: 42vw;
    }
    #piefoto{ 
        color: white;
        margin-left: 26vw; 
        font-size: 2vh;
    }
    h1{ font-size: 2.5rem;}

    #at{ 
        filter: invert(100%);
        width: 3em;
        margin-left: 42vw;
    }
    
    #ad{ 
        filter: invert(100%);
        width: 3em;
        margin-left: 8vw;
    }

    /* CONTACTO */
    /* CONTACTO */
    #mini{ display: none;}
    #conta{ margin-top: 8vh;}
    #senema{ 
        background: var(--negro);
        height: 40px;
        width: 100%;
        border: 2px solid rgba(192, 192, 192, .6);
        color: white;
        outline: none;
        font-size: 1em;
        border-radius: 10px;
    }
    #map2 { 
        height: 180px;
        margin-left: 2vh;
        float: left;
        margin-top:2vh;
    }
    #map { 
        height: 180px;
        margin-left: 2vh;
        float: left;
    }
    #imgc { width: 1.2em; height: 1.2em; }
    #mail{ 
        margin-top: 1%;
        background: rgba(192, 192, 192, 1); 
        border-radius: 5px;
        width: 100%;
        float: left;
        height: 35px;
        font-size: 15px;
        font-weight: 200;
        box-sizing: border-box;
        padding: 5px;
        outline: none;
        transition-timing-function: linear;
        /*-webkit-transition: .5s all;*/
        color: rgba(0, 0, 0, 1);
    }
    #cuerpo{ 
        background: rgba(192, 192, 192, 1);
        border: 2px solid rgba(192, 192, 192, 1) !important; 
        margin-top: 2%;
        width:100%; 
        height:295px;
        outline: none;
        border-radius: 5px;
        resize: none;
    }
    .textoi{ Font-weight:bold; }
}


/*DISPOSITIVOS TABLETS*/
@media only screen and (min-width: 992px) and (max-width: 1025px) {
    /* GENERAL */
    #titulo{ margin-left: 38%; margin-right: -24%; font-size: .8vw; }
    .body{ height: 93% !important;}
    

    /* INDEX */
    .imgmuestra{
        width: 22vw;
        height: 20vh;
        position: relative;
        float: left;
    }
    .outmarg{
        margin-right: -1.5%;
        margin-bottom: .5%;
    }
    .footer {
        width: 100%;
        height: 24%;
        background: var(--negro);
        color:white;
        position: relative;
        float: left;
        border-top: 3px solid var(--negro);
    } 
    .textofoo{
        color:white !important;
        font-size: .7rem !important;
        margin-bottom:0rem !important;
    }
    #face-foo{
        color:white !important;
        font-size: .7rem !important;
        margin-top: 4vh;
        margin-left: 2vw;
    }
    #imagfoo{
        width: 17% !important;
        margin-left: 3vw;
    }
    #col-foo{ margin-top: 3vh; }
    #col-foo1{ margin-top: 3vh; }

    /* SERVICIOS */
    .div-lg-6, .div-lg-2, .div-lg-8, .div-lg-4, .div-lg-3, .div-lg-12{
        float: left;
        margin-right: 1%;
        margin-bottom: 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        position: relative;
    }
    .menu{ display: none !important;}

    .div-lg-2 { width: 15.666666666667%; }
    .div-lg-3 { width: 24%; }
    .div-lg-4 { width: 32.3333333%; }
    .div-lg-6 { width: 49%; }
    .div-lg-8 { width: 65.666666666667%; }
    .div-lg-12 { width: 99%; }

    #galery{ margin-left: .7% !important; }
    span{ font-size: .8em !important; }
    .imgmuestraser{ height: 38vh;}
    .outserm{ margin-bottom: .5%; }
    #fotosdservi{
        width: 100%;
        /* background: black; */
        margin-top: 7vh;
        margin-left: 7vh;
    }

    #infoservicio{ 
        width: 91%;
        height: 75vh;
        background: var(--gris);
        margin-top: 7vh;
        margin-left: 4vh;
    }
    #tituloserv{ margin-top: 28vh; }
    #infoser{ margin-top: -21vh; }
    #tituloserv > h4{ border-bottom: 2px}
            
    .imgserviunico{
        width: 100%;
        position: relative;
        float: left;
    }

    .modalhz{ margin-left: 18% !important; margin-top: 7% !important; width: 67% !important;}
    .modalvert{ margin-left: 37% !important; margin-top: 5% !important; height: 467px !important;}

    #piefoto{ 
        color: white;
        margin-left: 26vw; 
        font-size: 2vh;
    }
    h1{ font-size: 2.5rem;}

    #at{ 
        filter: invert(100%);
        width: 3em;
        margin-left: 37vw;
    }
    
    #ad{ 
        filter: invert(100%);
        width: 3em;
        margin-left: 7vw;
    }

    /* CONTACTO */
    #mini{ display: none;}
    #conta{ margin-top: 8vh;}
    #senema{ 
        background: var(--negro);
        height: 40px;
        width: 100%;
        border: 2px solid rgba(192, 192, 192, .6);
        color: white;
        outline: none;
        font-size: 1em;
        border-radius: 10px;
        margin-left: 3vh; 
    }
    #map2 { 
        height: 180px;
        margin-left: 2vh;
        float: left;
        margin-top:2vh;
    }
    #map { 
        height: 180px;
        margin-left: 2vh;
        float: left;
    }
    #imgc { width: 1.2em; height: 1.2em; }
    #mail{ 
        margin-top: 1%;
        background: rgba(192, 192, 192, 1); 
        border-radius: 5px;
        width: 100%;
        float: left;
        height: 35px;
        font-size: 15px;
        font-weight: 200;
        box-sizing: border-box;
        padding: 5px;
        outline: none;
        transition-timing-function: linear;
        /*-webkit-transition: .5s all;*/
        color: rgba(0, 0, 0, 1);
        margin-left: 2vw;
    }
    #cuerpo{ 
        background: rgba(192, 192, 192, 1);
        border: 2px solid rgba(192, 192, 192, 1) !important; 
        margin-top: 2%;
        width:100%; 
        height:295px;
        outline: none;
        border-radius: 5px;
        resize: none;
        margin-left: 2vw;
    }
    .textoi{ Font-weight:bold; }
}

@media only screen and (min-width: 900px) and (max-width: 991px) {
    /* GENERAL */
    #titulo{ display: none;}
    .body{
        height: 92% !important;
    }
    

    /* INDEX */
    .imgmuestra{
        width: 46vw !important;
        height: 35vh !important;
        position: relative;
        float: left;
    }
    .outmarg{
        margin-right: -2.5%;
        margin-bottom: .5%;
    }
    #grid { margin-left:2% !important;}
    .footer {
        width: 100%;
        height: 24%;
        background: var(--negro);
        color:white;
        position: relative;
        float: left;
        border-top: 3px solid var(--negro);
    } 
    .textofoo{
        color:white !important;
        font-size: .7rem !important;
        margin-bottom:0rem !important;
    }
    #face-foo{
        color:white !important;
        font-size: .7rem !important;
        margin-top: 5vh;
        margin-left: 2vw;
    }
    #imagfoo{
        width: 24% !important;
        margin-left: 3vw;
    }
    #col-foo{ margin-top: 3vh; }
    #col-foo1{ margin-top: 3vh; }

    /* SERVICIOS */
    .div-lg-6, .div-lg-2, .div-lg-8, .div-lg-4, .div-lg-3, .div-lg-12{
        float: left;
        margin-right: 1%;
        margin-bottom: 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        position: relative;
    }

    .div-lg-2 { width: 15.666666666667%; }
    .div-lg-3 { width: 24%; }
    .div-lg-4 { width: 32.3333333%; }
    .div-lg-6 { width: 49%; }
    .div-lg-8 { width: 65.666666666667%; }
    .div-lg-12 { width: 99%; }

    .menu{ display: none !important;}
    #galery{ margin-left: .7% !important; }
    span{ font-size: .8em !important; }
    .imgmuestraser{ height: 46vh !important;}
    #fotosdservi{
        width: 100%;
        /* background: black; */
        margin-top: 7vh;
        margin-left: 2vh;
    }

    #infoservicio{ 
        width: 91%;
        height: 75vh;
        background: var(--gris);
        margin-top: 7vh;
        margin-left: 4vh;
    }
    #tituloserv{ margin-top: 28vh; }
    #infoser{ margin-top: -21vh; }
    #tituloserv > h4{ border-bottom: 2px}
            
    .imgserviunico{
        width: 100%;
        position: relative;
        float: left;
    }
    .outserm{ margin-bottom: .5%; }
    .modalhz{ margin-left: 16% !important; margin-top: 4% !important; width: 67% !important;}
    .modalvert{ margin-left: 39% !important; margin-top: 4% !important; height: 352px !important;}
    #piefoto{ 
        color: white;
        margin-left: 29%; 
        font-size: 2vh;
    }
    h1{ font-size: 2.5rem;}

    #at{ 
        filter: invert(100%);
        width: 3em;
        margin-left: 36vw;
    }
    
    #ad{ 
        filter: invert(100%);
        width: 3em;
        margin-left: 6vw;
    }

    #conta{ display: none;}

    /* CONTACTO */
    #senema{ 
        background: var(--negro);
        height: 40px;
        width: 100%;
        border: 2px solid rgba(192, 192, 192, .6);
        color: white;
        outline: none;
        font-size: 1em;
        border-radius: 10px;
    }
    #map3 { 
        height: 230px;
        margin-left: 2vh;
        float: left;
    }
    #map4 { 
        height: 230px;
        margin-left: 2vh;
        margin-top: 5vh;
        float: left;
    }
    #imgc { width: 1.2em; height: 1.2em; }
    #mail{ 
        margin-top: 1%;
        border-radius: 5px;
        width: 100%;
        float: left;
        height: 35px;
        font-size: 15px;
        font-weight: 200;
        box-sizing: border-box;
        background:rgba(192, 192, 192, 1);
        border: 2px solid rgba(192, 192, 192, 1) !important; 
        padding: 5px;
        outline: none;
        transition-timing-function: linear;
        /*-webkit-transition: .5s all;*/
        color: rgba(0, 0, 0, 1);
    }
    #cuerpo{ 
        background: rgba(192, 192, 192, 1);
        border: 2px solid rgba(192, 192, 192, 1) !important; 
        margin-top: 2%;
        width:100%; 
        height:295px;
        outline: none;
        border-radius: 5px;
        resize: none;
    }
}

@media only screen and (min-width: 800px) and (max-width: 899px) {
    /* GENERAL */
    #titulo{ display: none;}
    .body{
        height: 98% !important;
    }
    .bgn { height: 95.5% !important; }
    

    /* INDEX */
    .imgmuestra{
        width: 46vw !important;
        height: 20vh !important;
        position: relative;
        float: left;
    }
    .outmarg{
        margin-right: -3.5%;
        margin-bottom: .5%;
    }
    #grid { margin-left:2% !important;}
    .footer {
        width: 100%;
        height: 23%;
        background: var(--negro);
        color:white;
        position: relative;
        float: left;
        border-top: 3px solid var(--negro);
    } 
    .textofoo{
        color:white !important;
        font-size: .9rem !important;
        margin-bottom:0rem !important;
    }
    #face-foo{
        color:white !important;
        font-size: .9rem !important;
        margin-top: 5vh;
        margin-left: 2vw;
    }
    #imagfoo{
        width: 24% !important;
        margin-left: 3vw;
    }
    #col-foo{ margin-top: 3vh; }
    #col-foo1{ margin-top: 3vh; }


    /*NOSOTROS*/
    .textn{ margin-top: 0% !important; }
    video{ margin-left: 1% !important; width: 73.5vh !important; margin-top: 30% !important;}
    .color-overlay{ height: 1024px !important;}
    .textn{ margin-top: 12%; }
    #imgus { margin-top: -10% !important; }
    #video_background{
        display: none;
    }

    /* SERVICIOS */
    .div-lg-6, .div-lg-2, .div-lg-8, .div-lg-4, .div-lg-3, .div-lg-12{
        float: left;
        margin-right: 1%;
        margin-bottom: 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        position: relative;
    }

    .div-lg-2 { width: 15.666666666667%; }
    .div-lg-3 { width: 24%; }
    .div-lg-4 { width: 32.3333333%; }
    .div-lg-6 { width: 49%; }
    .div-lg-8 { width: 65.666666666667%; }
    .div-lg-12 { width: 99%; }

    .menu{ display: none !important;}
    #galery{ margin-left: .7% !important; }
    span{ font-size: .8em !important; }
    .imgmuestraser{ height: 18vh !important;}
    #fotosdservi{
        width: 100%;
        /* background: black; */
        margin-top: 7vh;
        margin-left: 1vh;
    }

    #infoservicio{ 
        width: 91%;
        height: 40vh;
        background: var(--gris);
        margin-top: 1vh;
        margin-left: 2vh;
    }
    #tituloserv{ margin-top: 16vh; }
    #infoser{ margin-top: -10vh; }
    #tituloserv > h4{ border-bottom: 2px}
            
    .imgserviunico{
        width: 100%;
        position: relative;
        float: left;
    }
    .outserm{ margin-bottom: .5%; }
    .modalhz{ margin-left: 5% !important; margin-top: 28% !important; width: 90% !important;}
    .modalvert{ margin-left: 28% !important; margin-top: 21% !important; height: 595px !important;}
    #piefoto{ 
        color: white;
        margin-left: 10vw; 
        font-size: 1.4vh;
    }
    h1{ font-size: 2.5rem;}

    #at{ 
        filter: invert(100%);
        width: 3em;
        margin-left: 38vw;
    }
    
    #ad{ 
        filter: invert(100%);
        width: 3em;
        margin-left: 7vw;
    }

    
    #conta{ display: none;}

    /* CONTACTO */
    #senema{ 
        background: var(--negro);
        height: 40px;
        width: 100%;
        border: 2px solid rgba(192, 192, 192, .6);
        color: white;
        outline: none;
        font-size: 1em;
        border-radius: 10px;
    }
    #map3 { 
        height: 230px;
        margin-left: 2vh;
        float: left;
    }
    #map4 { 
        height: 230px;
        margin-left: 2vh;
        float: left;
    }
    #imgc { width: 1.2em; height: 1.2em; }
    #mail{ 
        margin-top: 1%;
        border-radius: 5px;
        width: 100%;
        float: left;
        height: 35px;
        font-size: 15px;
        font-weight: 200;
        box-sizing: border-box;
        background:rgba(192, 192, 192, 1);
        border: 2px solid rgba(192, 192, 192, 1) !important; 
        padding: 5px;
        outline: none;
        transition-timing-function: linear;
        /*-webkit-transition: .5s all;*/
        color: rgba(0, 0, 0, 1);
    }
    #cuerpo{ 
        background: rgba(192, 192, 192, 1);
        border: 2px solid rgba(192, 192, 192, 1) !important; 
        margin-top: 2%;
        width:100%; 
        height:220px;
        outline: none;
        border-radius: 5px;
        resize: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 799px) {
    /* GENERAL */
    #titulo{ display: none;}
    .body{ height: 99% !important;}
    /* INDEX */
    .imgmuestra{
        width: 46vw !important;
        height: 20vh !important;
        position: relative;
        float: left;
    }
    .outmarg{
        margin-right: -3.5%;
        margin-bottom: .5%;
    }
    #grid { margin-left:2% !important;}

    .footer {
        width: 100%;
        height: 23%;
        background: var(--negro);
        color:white;
        position: relative;
        float: left;
        border-top: 3px solid var(--negro);
    } 
    .textofoo{
        color:white !important;
        font-size: .7rem !important;
        margin-bottom:0rem !important;
    }
    #face-foo{
        color:white !important;
        font-size: .7rem !important;
        margin-top: 5vh;
        margin-left: 2vw;
    }
    #imagfoo{
        width: 24% !important;
        margin-left: 3vw;
    }
    #col-foo{ margin-top: 3vh; }
    #col-foo1{ margin-top: 3vh; }


    /*NOSOTROS*/
    #video_background{ display: none;  }
    .main .container{
        margin-bottom: 50px;
    }
    .textn{ margin-top: 0% !important; }
    video{ margin-left: 1% !important; width: 73.5vh !important; margin-top: 30% !important;}
    .color-overlay{ height: 1024px !important;}
    .textn{ margin-top: 10%; }
    #imgus { margin-top: -10% !important; }


    /* SERVICIOS */
    .div-md-6, .div-md-2, .div-md-8, .div-md-4, .div-md-3, .div-md-12, .div-md-1, .div-md-10, .div-mdp-6 {
        float: left;
        margin-right: 1%;
        margin-bottom: 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        position: relative;
    }
    .div-md-1 { width: 7.333333333333%; }
    .div-md-2 { width: 15.666666666667%; }
    .div-md-3 { width: 24%; }
    .div-md-4 { width: 32.3333333%; }
    .div-md-6 { width: 49%; }
    .div-mdp-6 { width: 48%; }
    .div-md-8 { width: 65.666666666667%; }
    .div-md-10 { width: 82.33333333333%; }
    .div-md-12 { width: 99%; }

    .menu{ display: none !important;}
    #galery{ margin-left: 1% !important; }
    span{ font-size: .8em !important; }
    .imgmuestraser{ height: 14.2vh !important;}
    #fotosdservi{
        width: 100%;
        /* background: black; */
        margin-top: 4vh;
        margin-left: 1vh;
    }

    #infoservicio{ 
        width: 91%;
        height: 40vh;
        background: var(--gris);
        margin-top: 2vh;
        margin-left: 3vh;
    }
    #tituloserv{ margin-top: 16vh; }
    #infoser{ margin-top: -7vh; }
    #tituloserv > h4{ border-bottom: 2px}
            
    .imgserviunico{
        width: 100%;
        position: relative;
        float: left;
    }
    
    .outserm{ margin-bottom: .5%; }
    .modalhz{ margin-left: 7% !important; margin-top: 28% !important; width: 90% !important;}
    .modalvert{ margin-left: 24% !important; height: 550px !important; margin-top: 15% !important; }
    #piefoto{ 
        color: white;
        margin-left: 7vw; 
        font-size: 1.4vh;
    }
    h1{ font-size: 2.5rem;}

    #at{ 
        filter: invert(100%);
        width: 3em;
        margin-left: 7vw;
    }
    
    #ad{ 
        filter: invert(100%);
        width: 3em;
        margin-left: 7vw;
    }

    
    #conta{ display: none;}

    /* CONTACTO */
    #senema{ 
        background: var(--negro);
        height: 40px;
        width: 100%;
        border: 2px solid rgba(192, 192, 192, .6);
        color: white;
        outline: none;
        font-size: 1em;
        border-radius: 10px;
    }
    #map3 { 
        height: 230px;
        margin-left: 2vh;
        float: left;
    }
    #map4 { 
        height: 230px;
        margin-left: 2vh;
        float: left;
    }
    #imgc { width: 1.2em; height: 1.2em; }
    #mail{ 
        margin-top: 1%;
        border-radius: 5px;
        width: 100%;
        float: left;
        height: 35px;
        font-size: 15px;
        font-weight: 200;
        box-sizing: border-box;
        background:rgba(192, 192, 192, 1);
        border: 2px solid rgba(192, 192, 192, 1) !important; 
        padding: 5px;
        outline: none;
        transition-timing-function: linear;
        /*-webkit-transition: .5s all;*/
        color: rgba(0, 0, 0, 1);
    }
    #cuerpo{ 
        background: rgba(192, 192, 192, 1);
        border: 2px solid rgba(192, 192, 192, 1) !important; 
        margin-top: 2%;
        width:100%; 
        height:220px;
        outline: none;
        border-radius: 5px;
        resize: none;
    }    
}

/*DISPOSITIVOS SMARTPHONE width and Tablet*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
    /* GENERAL */
    #titulo{ display: none;}
    /* INICIO */
    #grid{ margin-left: .5% !important; }
    .outmarg{ margin-bottom: .5%; margin-right: -3.5%;}
    .imgmuestra{
        width: 100% !important;
        position: relative;
        float: left;
    }
    .footer {
        width: 100%;
        height: 23%;
        background: var(--negro);
        color:white;
        position: relative;
        float: left;
        border-top: 3px solid var(--negro);
    } 
    .textofoo{
        color:white !important;
        font-size: .7rem !important;
        margin-bottom:0rem !important;
    }
    #face-foo{
        color:white !important;
        font-size: .7rem !important;
        margin-top: 5vh;
        margin-left: 2vw;
    }
    #imagfoo{
        width: 24% !important;
        margin-left: 3vw;
    }
    #col-foo{ margin-top: 3vh; }
    #col-foo1{ margin-top: 3vh; }
    
    
    /* NOSOTROS */
    .main .container{
        margin-bottom: 50px;
    }
    #video_background{
        display: none;
    }

    /* SERVICIOS */
    .div-sm-6, .div-sm-2, .div-sm-8, .div-sm-4, .div-md-3, .div-sm-1, .div-sm-10, .div-smp-6 {
        float: left;
        margin-right: 1%;
        margin-bottom: 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        position: relative;
    }
    .div-sm-1 { width: 7.333333333333%; }
    .div-sm-2 { width: 15.666666666667%; }
    .div-md-3 { width: 24%; }
    .div-sm-4 { width: 32.3333333%; }
    .div-sm-6 { width: 49%; }
    .div-smp-6 { width: 48%; }
    .div-sm-8 { width: 65.666666666667%; }
    .div-sm-10 { width: 82.33333333333%; }
    .div-sm-12 { width: 99%; }

    .selector{ display: none !important;}
    #galery{ margin-left: 1% !important; }
    span{ font-size: .6em !important; }
    .imgmuestraser{ height: 18vh !important;}
    #fotosdservi{
        width: 100%;
        /* background: black; */
        margin-top: 4vh;
        margin-left: 1vh;
    }

    #infoservicio{ 
        width: 91%;
        height: 40vh;
        background: var(--gris);
        margin-top: 2vh;
        margin-left: 3vh;
    }
    #tituloserv{ margin-top: 16vh; }
    #infoser{ margin-top: -8vh; }
    #tituloserv > h4{ border-bottom: 2px}
            
    .imgserviunico{
        width: 100%;
        position: relative;
        float: left;
    }
    #galerias{ float:left;}
    .outserm{ margin-bottom: .5%; }
    .modalhz{ margin-left: 7% !important; margin-top: 40% !important; width: 90% !important;}
    .modalvert{ margin-left: 24% !important; height: 550px !important; margin-top: 15% !important; }
    #piefoto{ 
        color: white;
        margin-left: 8vw; 
        font-size: 1.4vh;
    }
    h1{ font-size: 2.5rem;}

    #at{ 
        filter: invert(100%);
        width: 3em;
        margin-left: 30vw;
    }
    
    #ad{ 
        filter: invert(100%);
        width: 3em;
        margin-left: 7vw;
    }


    #conta{ display: none;}

    /* CONTACTO */
    #senema{ 
        background: var(--negro);
        height: 40px;
        width: 100%;
        border: 2px solid rgba(192, 192, 192, .6);
        color: white;
        outline: none;
        font-size: 1em;
        border-radius: 10px;
    }
    #map3 { 
        height: 230px;
        margin-left: 2vh;
        float: left;
    }
    #map4 { 
        height: 230px;
        margin-left: 2vh;
        float: left;
    }
    #imgc { width: 1.2em; height: 1.2em; }
    #mail{ 
        margin-top: 1%;
        border-radius: 5px;
        width: 100%;
        float: left;
        height: 35px;
        font-size: 15px;
        font-weight: 200;
        box-sizing: border-box;
        background:rgba(192, 192, 192, 1);
        border: 2px solid rgba(192, 192, 192, 1) !important; 
        padding: 5px;
        outline: none;
        transition-timing-function: linear;
        /*-webkit-transition: .5s all;*/
        color: rgba(0, 0, 0, 1);
    }
    #cuerpo{ 
        background: rgba(192, 192, 192, 1);
        border: 2px solid rgba(192, 192, 192, 1) !important; 
        margin-top: 2%;
        width:100%; 
        height:256px;
        outline: none;
        border-radius: 5px;
        resize: none;
    }
}

    /*DISPOSITIVOS SMARTPHONE*/
@media only screen and (min-width: 0px) and (max-width: 479px) {
    /* GENERAL */
    #titulo{ display: none;}
    /* INICIO */
    #grid{ margin-left: 2% !important; }
    .outmarg{ margin-bottom: .5%;}
    .imgmuestra{
        width: 89vw !important;
        height: 28vh !important;
        position: relative;
        float: left;
    }
    .footer {
        width: 100%;
        height: 22%;
        background: var(--negro);
        color:white;
        position: relative;
        float: left;
        border-top: 3px solid var(--negro);
    } 
    .textofoo{
        color:white !important;
        font-size: .6rem !important;
        margin-bottom:0rem !important;
    }
    #face-foo{
        color:white !important;
        font-size: .6rem !important;
        margin-top: 5vh;
        margin-left: 2vw;
    }
    #imagfoo{
        width: 31% !important;
        margin-left: 6vw;
    }
    #col-foo{ margin-top: 3vh; }
    #col-foo1{ margin-top: 4vh; }
   
       
    /* NOSOTROS  */
    .main .container{
        margin-bottom: 50px;
    }
    #video_background{
        display: none;
    }

    /* SERVICIOS */
    .div-sm-6, .div-sm-2, .div-sm-8, .div-sm-4, .div-md-3,  .div-sm-1, .div-sm-10, .div-smp-6 {
        float: left;
        margin-right: 1%;
        margin-bottom: 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        position: relative;
    }
    .div-sm-1 { width: 7.333333333333%; }
    .div-sm-2 { width: 15.666666666667%; }
    .div-md-3 { width: 24%; }
    .div-sm-4 { width: 32.3333333%; }
    .div-sm-6 { width: 49%; }
    .div-smp-6 { width: 48%; }
    .div-sm-8 { width: 65.666666666667%; }
    .div-sm-10 { width: 82.33333333333%; }
    .div-sm-12 { width: 99%; }

    .selector{ display: none !important;}

    #galery{ margin-left: 1% !important; }
    span{ font-size: .3em !important; }
    .imgmuestraser{ height: 13vh !important;}
    #fotosdservi{
        width: 100%;
        /* background: black; */
        margin-top: 4vh;
        margin-left: 1vh;
    }

    #infoservicio{ 
        width: 91%;
        height: 40vh;
        background: var(--gris);
        margin-top: 2vh;
        margin-left: 3vh;
    }
    #tituloserv{ margin-top: 2vh; }
    #infoser{ margin-top: -2vh; }
    #tituloserv > h4{ border-bottom: 2px}
            
    .imgserviunico{
        width: 100%;
        position: relative;
        float: left;
    }
    #galerias{ float:left;}
    .outserm{ margin-bottom: .5vh; }
    .modalhz{ margin-left: 7% !important; margin-top: 58% !important; width: 90% !important;}
    .modalvert{ margin-left: 24% !important; height: 325px !important; margin-top: 38% !important;}
    #piefoto{ 
        color: white;
        margin-left: 8vw; 
        font-size: 1.2vh;
    }
    h1{ font-size: 2.5rem;}

    #at{ 
        filter: invert(100%);
        width: 2em;
        height: 2em;
        margin-left: 19vw;
    }
    
    #ad{ 
        filter: invert(100%);
        width: 2em;
        height: 2em;
        margin-left: -17vw;
    }

    #conta{ display: none;}

    /* CONTACTO */
    #senema{ 
        background: var(--negro);
        height: 40px;
        width: 100%;
        border: 2px solid rgba(192, 192, 192, .6);
        color: white;
        outline: none;
        font-size: 1em;
        border-radius: 10px;
    }
    #map3 { 
        height: 230px;
        margin-left: 2vh;
        float: left;
    }
    #map4 { 
        height: 230px;
        margin-left: 2vh;
        float: left;
    }
    #imgc { width: 1.2em; height: 1.2em; }
    #mail{ 
        margin-top: 1%;
        border-radius: 5px;
        width: 100%;
        float: left;
        height: 35px;
        font-size: 15px;
        font-weight: 200;
        box-sizing: border-box;
        background:rgba(192, 192, 192, 1);
        border: 2px solid rgba(192, 192, 192, 1) !important; 
        padding: 5px;
        outline: none;
        transition-timing-function: linear;
        /*-webkit-transition: .5s all;*/
        color: rgba(0, 0, 0, 1);
    }
    #cuerpo{ 
        background: rgba(192, 192, 192, 1);
        border: 2px solid rgba(192, 192, 192, 1) !important; 
        margin-top: 2%;
        width:100%; 
        height:256px;
        outline: none;
        border-radius: 5px;
        resize: none;
    }
}

/*============= FIN DE MEDIAS QUERYS =================*/




/*======= BASICA =======*/
.bg { /* BACKGROUND DE TODAS LAS PANTALLAS - FONDO  */
    width: 100%;
    height: 79.5%;
    position: absolute;
    float: left;
    background-image: url(../images/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.bgn { /* BACKGROUND EN NOSOTROS - FONDO  */
    width: 100%;
    height: 94%;
    position: absolute;
    float: left;
    background: var(--blanco);
}
.bgs { /* BACKGROUND EN LOS SERVICIOS - FONDO  */
    width: 100%;
    height: 100%;
    position: absolute;
    float: left;
    background-image: url(../images/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bgc { /* BACKGROUND EN LOS SERVICIOS - FONDO  */
    width: 100%;
    position: absolute;
    float: left;
    background-image: url(../images/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    border-bottom: 3px solid var(--negro) !important;
}

#barraus{
    z-index: 3;
}
/* PAGINA DE NOSOTROS ES EL CONTENEDOR */
.body2 {
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
    /* background: red; */
}



.body3 {
    width: 100%;
    position: relative;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
}


#icons {
    width: 3em;
    height: 2em;
    display: none;
}

#redes {
    width: 2.5vw;
    height: 3.5vh;
    /* margin-top: 55%; */
    position: relative;
    float: left;
    /*filter: invert(100%);*/
}
.extra {
    display: flex;
    justify-content: flex-end;
    margin-top: 3%;
}

h3{ margin-top: -15px !important; }

./* modalvert{
    margin-left: 39%;
    margin-top: 3%;
    height: 600px;
}

.modalhz{ margin-left:25%; margin-top:8%;
}

#piefoto{ color: white; margin-left: 40%;
} */


    

/*============= MODAL =============*/
#bg-negro {
    width: 100%;
    height: 100%;
    float: left;
    position: fixed;
    background: rgba(255, 255, 255, .1);
    z-index: 999999999;
    transition-timing-function: linear;
    /*-webkit-transition: .1s all;*/
    opacity: 0;
    visibility: hidden;
}

#modal {
    float: left;
    position: fixed;
        background:rgba(0, 0, 0, .7);
     z-index: 999999999999;
    border-radius: 2px;
    /*top: 50%;*/
    /*margin-top: -100px;*/
    box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, .5);
    /*transition-timing-function: linear;*/
    -webkit-transition: .2s all;
    opacity: 0;
    visibility: hidden;
    transition-timing-function: linear;
    -webkit-transform: scale(.9);
    /*width: 200px;*/
    /*left: 50%;*/
    overflow: hidden;
}

#modal>h1 {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    color: var(--blanco) !important;
    margin-top: 20px;
    margin-bottom: 20px;
}

#modal>p {
    color: #6f7a8c;
    width: 80%;
    float: left;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.chico { width: 300px !important; margin-left: -150px; }
.verModal {
    visibility: visible !important;
    opacity: 1 !important;
    -webkit-transform: scale(1) !important;
}

.grande { width: 100% !important;  height: 100%; }
.cmodal { margin-top: 10%; }
.bmodal {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: transparent;
    border-style: none;
    color: white;
}
.tmodal { margin-left: 45%; }
.title{ color: var(--blanco); }
.title:hover { background: white; color: rgb(211, 46, 98) }


/*============= INDEX =========*/
.body {
    width: 100%;
    height: 95%;
    position: relative;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
}

#grid{margin-left: 4%; margin-top: 3.5%;}

/* .footer {
    width: 100%;
    height: 21%;
    background: var(--negro);
    position: relative;
    float: left;
    border-top: 3px solid var(--negro);
}  */  



 /*.selector{ display: none !important; }*/
.imgp{
    width: 60%;
    margin-left: 18%;
}
.imgp2{ width: 60%; margin-left: 7%;}

.menuh:hover{ color: var(--azul); }

/* === EFECTO DE GRID IMAGENES === */
/* ESTILO DE IMG */
.fig img {
    opacity: 1;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

/* ESTILO DE CONTENEDOR TEXTOS */
.figcap {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 4em 3em;
    color: var(--negro);
}
/* ESTILO DE ETQ P */
.figcap p {
    margin: 0 0 5px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s, -moz-transform 0.35s, -o-transform 0.35s, transform 0.35s;
    color: var(--negro);
}
/* ESTILO DE ETQ H3 */
.figcap h4 {
    opacity: 0;
    text-transform: uppercase;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.figcap h5 {
    opacity: 0;
    text-transform: uppercase;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

/* ==== ESTILOS DE ETQ A ==== */
/*.figcap a {
    position: absolute;
    opacity: 0;
    color: var(--negro);
}*/

/* ESTILO DE CONTENDOR CON LINEAS */
.figcap::before {
    position: absolute;
    top: 10%;
    right: 30px;
    bottom: 50%;
    left: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    content: '';
    opacity: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}

/* ========= HOVER =========== */
/* IMG */
.fig:hover img { opacity: 0.35; }

/* ====hover de h3 ==== */
.fig:hover .figcap h4 {
    opacity: 1;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.fig:hover .figcap h5 {
    opacity: 1;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.fig:hover .figcap p {
    opacity: 0.9;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}

.fig:hover .figcap a {
    opacity: 0.9;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}

/* es la forma que tiene las lineas, CONTENIDO*/
.fig:hover .figcap::before {
    background: rgba(255, 255, 255, 0);
    top: 30px;
    bottom: 30px;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

/*============= NOSOTROS =========*/
/*contenedor*/.textn{}
/*contendor h1*/.textn #titulous{}

.textn{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.textn H1{
    text-align: center;
    /* background: white; */
    padding: 20px;
    margin: 15px;
    z-index: 1;
    opacity: .8;
    color: white;
}

.textn p{
    text-align: center;
    /* background: white; */
    padding: 20px;
    margin: 15px;
    z-index: 1;
    opacity: .8;
    color: white;
}

video{ width: 150vh; margin-left: 15%; }

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.color-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: lightblue;
    width: 100%;
    height: 100%;
    opacity: .5;
}

/* #imgus { height: 540px; width: 100%; }  */

/*============= SERVICIO =========*/

#slc1, #slc2, #slc3, #slc4, #slc5, #slc6, #slc7, #slc8, #slc9, #slc0 { margin-top: 1.5%; }
/* #slc1 {  } 
#slc2 {  }
#slc3 {  }
#slc4 {  }
#slc5 {  }
#slc6 {  }
#slc7 {  }
#slc8 { }
#slc9 {  }
#slc0 {  } */


#slc1:hover { border-bottom: 3px solid #00FFFF; color:var(--magenta);}
#slc3:hover { border-bottom: 3px solid #FFFF00; color:var(--magenta);}
#slc4:hover { border-bottom: 3px solid #00FFFF; color:var(--magenta);}
#slc2:hover { border-bottom: 3px solid #FF00FF; color:var(--magenta);}
#slc5:hover { border-bottom: 3px solid #FF00FF; color:var(--magenta);}
#slc6:hover { border-bottom: 3px solid #FFFF00; color:var(--magenta);}
#slc7:hover { border-bottom: 3px solid #00ffff; color:var(--magenta);}
#slc8:hover { border-bottom: 3px solid #FF00FF; color:var(--magenta);}
#slc9:hover { border-bottom: 3px solid #FFEF00; color:var(--magenta);}
#slc0:hover { border-bottom: 3px solid #00FFFF;color:var(--magenta);}

.selector {
    background: var(--gris);
    /* float: left; */
    justify-content: center;
    display: flex;
    width: 100%;
    position: relative;
}

.informacion {
    /* background: var(--blanco); */
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
    overflow-y: auto;
}

/* es parte de serv.php */
.qflex {
    display: none;    
    opacity: 0;
    margin-left: 80%;
    -webkit-transition: 3s; /* For Safari 3.1 to 6.0 */
    transition: 3s;
}
#galery {
    display: block;
    margin-left: 15%;
    -webkit-transition: 3s; /* For Safari 3.1 to 6.0 */
    transition: 3s;
}
.movgalery{
    margin-left: 6% !important;
    margin-top: 2%;
}

.movflex{
    display: block;
    margin-left: 0% !important;
}

.opserv{
    width: 100%;
    height: 200px !important;
}

.otro { overflow-y: auto; }



/*============= CONTACT =========*/


a:link{ text-decoration:none; color: black; } 

/* 
#maps {
    width: 100%;
    height: 91%;
    position: absolute;
    float: left;
    top: 9%;
} */





/*ESTO ES PARA EL VIDEO DE US.PHP*/

.main{
    background-position: center center;
    background-size: cover;
    height: auto;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    width: auto;
}
.cover{
    position: fixed;
    opacity: 1;
    background-color: rgba(0,0,0,.6);
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.cover.black{
    background-color: rgba(0,0,0,.6);
}

#video_background {
    position: fixed;
    margin-top: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    overflow: hidden;
    background-image: url('../images/video_bg.png');
    background-position: center center;
    background-size: cover;

}
.main .motto{
    min-height: 140px;
}
.main .motto, .main .subscribe .info-text{
    font-size: 1.7em;
    color: #FFFFFF;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.33);
    text-align: center;
    margin-top: 50px;
    
}
.main .content{
    position: relative;
    z-index: 4;
}

.main .logo.cursive{
    font-family: 'HelveNeu',cursive;
    font-size: 4em;
    
}.main .logo{
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 300;
    position: relative;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
    margin-top: 150px;
    z-index: 3;
}


#f{ width: 99%; }