* {
    padding: 0;
    margin: 0;
    font-family: HelveNeu;
    color: var(--negro);
}

:root {
    --base: rgba(0, 0, 0, .7);
    --azul: rgba(1, 175, 235,1);
    --blanco: rgba(0, 0, 0, 1);
    --gris: rgba(0, 0, 0, .1);
    --blanco: #ffff;
    --magenta: rgba(229, 9, 127, 1);
}

@font-face {
    font-family: HelveNeu;
    src: url(fonts/HelveticaNeue.ttc);
}

/*=============== MEDIA QUERYS ===================*/

    /*PANTALLA CON 5K*/
@media only screen and (min-width: 3841px) and (max-width: 5120px) {
    /*============DIV====================*/
    .div-xl-6, .div-xl-4, .div-xl-3, .div-xl-12, .div-xl-8, .div-xl-2, .div-xlp-3 {
        float: left;
        margin-right: 1%;
        margin-bottom: 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        position: relative;
    }
    .div-xl-2 { width: 15.666666666667%; }
    .div-xl-3 { width: 24%; }
    .div-xlp-3 { width: 24%; }
    .div-xl-4 { width: 32.3333333%; }
    .div-xl-6 { width: 49%; }
    .div-xl-8 { width: 65.666666666667%; }
    .div-xl-12 { width: 99%; }
    

    /*========= INDEX ===========*/
    #logo {
        width: 25em;
        height: 15em;
        margin-top: 3%;
        cursor: pointer;
        margin-left: -50%;
    }
    #titulo{
        margin-top: 8% !important;
    }
    .menuh{
        font-size: 4em;
    }

    .imgmuestra{
        width: 1240px !important;
        height: 735px !important;
    }
    .figcap h3{ font-size: 6em; }
    .figcap p{ font-size: 4em; }
    #redes{ width: 6em !important; height: 5em !important;}

    /*====== NOSOTROS ======*/
    #titulous{ font-size: 9em; }
    #descr{ font-size: 5em; }
    #imgus{ height: 1359px !important; width: 100% !important; }
    video{ margin-left: 20% !important; }

    /*====== SERVICIOS =========*/
    .imgp{
        width: 90% !important;
        margin-left: 10% !important;
    }
    span { font-size: 3em !important; font-weight: 2000 !important; }
    #slc1, #slc2, #slc3, #slc4, #slc5, #slc6, #slc7 { margin-top: 1.5%; }
    #slc1 { border-bottom: 6px solid #00ffff !important; cursor: pointer !important;} 
    #slc3 { border-bottom: 6px solid #ff00ff !important; cursor: pointer !important;}
    #slc4 { border-bottom: 6px solid #ffff00 !important; cursor: pointer !important;}
    #slc2 { border-bottom: 6px solid #00ffff !important; cursor: pointer !important;}
    #slc5 { border-bottom: 6px solid #ff00ff !important; cursor: pointer !important;}
    #slc6 { border-bottom: 6px solid #ffff00 !important; cursor: pointer !important;}
    #slc7 { border-bottom: 6px solid #00ffff !important;  cursor: pointer !important;}
    
    .imgmuestraser{ height: 480px !important; }
    .imgp2{ width: 480px !important;}
    #title{font-size: 5.6em !important;}
    #descrip{font-size: 3.2em !important;}

    .modalhz{ margin-left: 24% !important; width: 50% !important; }
    #piefoto{ margin-left: 35% !important; font-size: 3em !important; }
    .modalvert{ height: 1810px !important; }

    /*==== CONTACTO ========*/
    #titlecnt{ font-size: 6em !important; }
    .textoi{ font-size: 4em !important; }
    .textod{ font-size: 4em !important; }
    #map{ top: 0% !important; height: 1400px !important; }
    #map2{ top: 0% !important; height: 1400px !important; }
    #foot{ margin-top: 4% !important; }
    #reds{ width: 6em !important; height: 5em !important; filter: invert(0%) !important;}

    #textem{ margin-top: 1.5% !important; font-size: 4em !important;}
    #mail{ margin-top: 0% !important; border-radius: 15px !important; height: 1.8em !important; font-size: 4em !important;}
    #cuerpo{ height: 735px !important; }
    #senema{ font-size: 3em !important; }
    #foot{ margin-top: 0% !important; }
    #titface{ margin-top: 18px !important; font-size: 2em !important;}

    #at{ width: 6em !important; margin-left: 55% !important; }
    
    #ad{ width: 6em !important; margin-left: 20% !important; }

}
    /*PANTALLA CON 4K*/
@media only screen and (min-width: 2049px) and (max-width: 3840px) {
    /*============DIV====================*/
    .div-xl-6, .div-xl-4, .div-xl-3, .div-xl-12, .div-xl-8, .div-xl-2, .div-xlp-3 {
        float: left;
        margin-right: 1%;
        margin-bottom: 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        position: relative;
    }
    .div-xl-2 { width: 15.666666666667%; }
    .div-xl-3 { width: 24%; }
    .div-xlp-3 { width: 24%; }
    .div-xl-4 { width: 32.3333333%; }
    .div-xl-6 { width: 49%; }
    .div-xl-8 { width: 65.666666666667%; }
    .div-xl-12 { width: 99%; }

    /*======= INDEX ========*/
    #logo {
        width: 28em;
        height: 18em;
        margin-top: 3%;
        margin-left: -35%;
        cursor: pointer;
    }
    #titulo{
        margin-top: 10% !important;
    }
    .menuh{ margin-top: 40% !important; }
    .imgmuestra{
        width: 100% !important;
        height: 575px !important;
        position: relative !important;
        float: left !important;
    }
    .imgp{
        margin-left: 2% !important;
    }
    #icons{
        width: 10em !important;
        height: 8em !important;
    }
    #redes{
        width: 5em !important;
        height: 5em !important;
        margin-top: 20% !important;
    }

    /*====== NOSOTROS ======*/
    #titulous{ font-size: 7em; }
    #descr{ font-size: 3em; }
    #imgus{ height: 1240px !important; width: 100% !important; }
    video{ margin-left: 8% !important; }

    /*====== SERVICIOS =========*/
    .imgp{
        width: 90% !important;
        margin-left: 10% !important;
    }
    span { font-size: 2.5em !important; font-weight: 2000 !important; }
    #slc1, #slc2, #slc3, #slc4, #slc5, #slc6, #slc7 { margin-top: 1.5%; }
    #slc1 { border-bottom: 6px solid #00ffff !important; cursor: pointer !important;} 
    #slc3 { border-bottom: 6px solid #ff00ff !important; cursor: pointer !important;}
    #slc4 { border-bottom: 6px solid #ffff00 !important; cursor: pointer !important;}
    #slc2 { border-bottom: 6px solid #00ffff !important; cursor: pointer !important;}
    #slc5 { border-bottom: 6px solid #ff00ff !important; cursor: pointer !important;}
    #slc6 { border-bottom: 6px solid #ffff00 !important; cursor: pointer !important;}
    #slc7 { border-bottom: 6px solid #00ffff !important;  cursor: pointer !important;}
    
    .imgmuestraser{ height: 400px !important; }
    .imgp2{ width: 400px !important;}
    #title{font-size: 4em !important;}
    #descrip{font-size: 3.4em !important;}

    .modalhz{ margin-left: 26% !important; width: 50% !important; }
    #piefoto{ margin-left: 33% !important; font-size: 3em !important; }
    .modalvert{ margin-left: 38% !important; height: 1810px !important; }
    
    /*===== CONTACTO ======*/
    #titlecnt{ font-size: 6em !important; }
    .textoi{ font-size: 4em !important; }
    .textod{ font-size: 3em !important; }
    #map{ top: 0% !important; height: 1400px !important; }
    #map2{ top: 0% !important; height: 1400px !important; }

    #foot{ margin-top: 4% !important;}
    #reds{ width: 6em !important; height: 5em !important; filter: invert(0%) !important;}

    #textem{ margin-top: 1.5% !important; font-size: 3em !important;}
    #mail{ margin-top: 0% !important; border-radius: 15px !important; height: 1.7em !important; font-size: 3em !important;}
    #cuerpo{ height: 735px !important; }
    #senema{ font-size: 3em !important; height: 64px !important;}
    #foot{ margin-top: 0% !important; }
    #titface{ margin-top: 18px !important; font-size: 2em !important;}

    #at{ width: 7em !important; margin-left: 75% !important; }
    
    #ad{ width: 7em !important; margin-left: 60% !important; }
}
    /*LAPTOPS CON FULL HD */
@media only screen and (min-width: 1681px) and (max-width: 2048px) {
    /*============DIV====================*/
    .div-xl-6, .div-xl-4, .div-xl-3, .div-xl-12, .div-xl-8, .div-xl-2, .div-xlp-3 {
        float: left;
        margin-right: 1%;
        margin-bottom: 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        position: relative;
    }
    .div-xl-2 { width: 15.666666666667%; }
    .div-xl-3 { width: 24%; }
    .div-xlp-3 { width: 24%; }
    .div-xl-4 { width: 32.3333333%; }
    .div-xl-6 { width: 49%; }
    .div-xl-8 { width: 65.666666666667%; }
    .div-xl-12 { width: 99%; }

    /*========== INDEX ============*/
    #logo {
        width: 12em;
        height: 7.5em;
        margin-top: 3%;
        cursor: pointer;
        margin-left: -40%;
    }
    #titulo{
        font-size: 2.5em !important;
        margin-top: 8% !important;
    }
    .menuh{ font-size: 1.7em !important; }
    #redes{ margin-top: 25% !important;}

    /*====== SERVICIOS ======*/
    #slc1 { border-bottom: 2px solid #00FFFF !important; cursor: pointer !important; } 
    #slc2 { border-bottom: 2px solid #FF00FF !important; cursor: pointer !important; }
    #slc3 { border-bottom: 2px solid #FFEF00 !important; cursor: pointer !important; }
    #slc4 { border-bottom: 2px solid #00FFFF !important; cursor: pointer !important; }
    #slc5 { border-bottom: 2px solid #FF00FF !important; cursor: pointer !important; }
    #slc6 { border-bottom: 2px solid #FFEF00 !important; cursor: pointer !important; }
    #slc7 { border-bottom: 2px solid #00FFFF !important; cursor: pointer !important; }
    #slc8 { border-bottom: 2px solid #FF00FF !important; cursor: pointer !important; }
    #slc9 { border-bottom: 2px solid #FFEF00 !important; cursor: pointer !important; }
    #slc0 { border-bottom: 2px solid #00FFFF !important; cursor: pointer !important; }

    #title{font-size: 2.8em !important;}
    #descrip{font-size: 1.8em !important;}

    /* ========= NOSOTROS ======== */
    video{ margin-left: 16% !important; }


    .modalhz{ margin-left: 26% !important; width: 50% !important; }
    #piefoto{ margin-left: 34% !important; font-size: 1.4em !important; }
    .modalvert{ margin-left: 38% !important; height: 768px !important; }

    /*====== CONTACTOS ===*/
    #reds{ width:2em !important; filter: invert(0%) !important;}

    #at{ margin-left: 70% !important; }
    
    #ad{ margin-left: 35% !important; }
}

/*LAPTOPS CON HD */
@media only screen and (min-width: 1025px) and (max-width: 1680px) {
   /*============DIV====================*/
    .div-lg-6, .div-lg-2, .div-lg-8, .div-lg-4, .div-lg-3, .div-lg-12, .div-lgp-3 {
        float: left;
        margin-right: 1%;
        margin-bottom: 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        position: relative;
    }

    .div-lg-2 { width: 15.666666666667%; }
    .div-lg-3 { width: 24%; }
    .div-lgp-3 {  width: 24%; }
    .div-lg-4 { width: 32.3333333%; }
    .div-lg-6 { width: 49%; }
    .div-lg-8 { width: 65.666666666667%; }
    .div-lg-12 { width: 99%; }
    
    /*===== INDEX ====*/
    #logo{ 
        width: 9em;
        height: 6em;
        margin-top: 2%;
        margin-left: -15%;
        cursor: pointer;
    }
    #titulo{ font-size: 1.5em !important; margin-top: 15% !important; }
    .menuh{ font-size: 1em !important; margin-top: 35%;}    
    #reds { width: 2em !important; }    
    .imgp{}

    /* ====== NOSOTROS ======= */
    video{ margin-left: 3% !important; }

    #title{font-size: 2.5em !important;}
    #descrip{font-size: 1.5em !important;}

    /*===== SERVICIOS =====*/
    span { font-size: .9em !important; }
    .imgmuestra { height: 240px !important; }
    .imgmuestraser { height: 248px !important; }
    .imgp2{ width: 240px !important; margin-left: 0% !important; }

    .modalhz{ margin-left: 15% !important;}
    #piefoto{ margin-left: 38% !important;}
    .modalvert{ margin-top: 8% !important;}

    /*====== CONTACTOS ===*/
    #reds{ filter: invert(0%) !important;}

    #at{ margin-left: 70% !important; }
    
    #ad{ margin-left: 35% !important; }
}

/*DISPOSITIVOS TABLETS*/
@media only screen and (min-width: 800px) and (max-width: 1024px) {
    /*============DIV====================*/
    .div-md-6, .div-md-2, .div-md-8, .div-md-4, .div-md-3, .div-md-12, .div-md-1, .div-md-10, .div-mdp-6 {
        float: left;
        margin-right: 1%;
        margin-bottom: 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        position: relative;
    }
    .div-md-1 { width: 7.333333333333%; }
    .div-md-2 { width: 15.666666666667%; }
    .div-md-3 { width: 24%; }
    .div-md-4 { width: 32.3333333%; }
    .div-md-6 { width: 49%; }
    .div-mdp-6 { width: 48%; }
    .div-md-8 { width: 65.666666666667%; }
    .div-md-10 { width: 82.33333333333%; }
    .div-md-12 { width: 99%; }
    /*=========== INDEX ============*/
    .header {
        border-bottom: 3px solid var(--azul) !important;
    } 

    .footer {
        border-top: 3px solid var(--azul) !important;
    }
    #logo { 
        width: 7em !important;
        height: 4em !important;
        margin-top: 2%;
        margin-left: -25%;;
        cursor: pointer;
    }

    /* ===== NOSOTROS ======= */
    video{ margin-left: 1% !important; width: 131vh !important; margin-top: 6% !important;}
    .color-overlay{ height: 760px !important;}


    #titulo{
        font-size: 1em !important;
        margin-top: 10% !important;
    }
    .menuh{
        font-size: .8em !important;
        margin-top: 1% !important;
    }
    #redes{
        width: 1.5em !important;
        height: 1.5em !important;
        margin-top: 15% !important;
    }

    #icons { width: 2em !important; height: 2em !important; }
    .imgmuestra { height: 225px !important; }
    .imgmuestraser { height: 160px !important; }
    .imgp2{ width: 245px !important; margin-left: 0% !important; }
    #reds { width: 2em !important; }
    #imgc { width: 1em !important; height: 1em !important; }
    .tmodal { margin-left: 2% !important; }
    .cmodal { margin-top: 15% !important; }
    .header { height: 80px !important; }
    .body2{ height: 90% !important;}
    .body{ height: 85% !important;}

    /*======= SERVICIOS =========*/
    span { font-size: .7em !important; }
    .modalhz{ margin-left: 18% !important; margin-top: 8% !important; width: 65% !important;}
    #piefoto{ margin-left: 25% !important;}
    .modalvert{ margin-left: 32% !important;}

    #title{font-size: 2.2em !important;}
    #descrip{font-size: 1.2em !important;}

    /*====== CONTACTOS ===*/
    #reds{ filter: invert(0%) !important;}
    #map{ top: 0% !important; height: 375px !important; }
    #map2{ top: 0% !important; height: 375px !important; }
    .textoi{ font-size: 21px !important; }
    .textod{ font-size: 13px !important; }
    #cuerpo{ height: 225px !important; }
    #senema{ height: 29px !important; width:21% !important; margin-left:75% !important;}

    #at{ margin-left: 45% !important; }
    
    #ad{ margin-left: 45% !important; }
}

@media only screen and (min-width: 768px) and (max-width: 799px) {
    /*============DIV====================*/
    .div-md-6, .div-md-2, .div-md-8, .div-md-4, .div-md-3, .div-md-12, .div-md-1, .div-md-10, .div-mdp-6 {
        float: left;
        margin-right: 1%;
        margin-bottom: 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        position: relative;
    }
    .div-md-1 { width: 7.333333333333%; }
    .div-md-2 { width: 15.666666666667%; }
    .div-md-3 { width: 24%; }
    .div-md-4 { width: 32.3333333%; }
    .div-md-6 { width: 49%; }
    .div-mdp-6 { width: 48%; }
    .div-md-8 { width: 65.666666666667%; }
    .div-md-10 { width: 82.33333333333%; }
    .div-md-12 { width: 99%; }
    /*=========== INDEX ============*/
    .header { border-bottom: 3px solid var(--azul) !important; } 
    .footer { border-top: 3px solid var(--azul) !important; }   
    #logo { 
        width: 6em !important;
        height: 3.8em !important;
        margin-top: 4%;
        margin-left: -25%;;
        cursor: pointer;
    }
    #titulo{
        font-size: 1em !important;
        margin-top: 15% !important;
    }
    .menuh{
        font-size: .8em !important;
        margin-top: 50% !important;
    }
    .body{ height: 89% !important;}
    #redes{
        width: 2em !important;
        height: 2em !important;
        margin-top: 5% !important;
    }
    /*==== NOSOTROS =====*/
    .textn{ margin-top: 0% !important; }
    video{ margin-left: 1% !important; width: 73.5vh !important; margin-top: 30% !important;}
    .color-overlay{ height: 1024px !important;}

    .textn{ margin-top: 12%; }
    #imgus { margin-top: -10% !important; }

    #icons { width: 2em !important; height: 2em !important; }
    
    #reds { width: 2em !important; }
    #imgc { width: 1em !important; height: 1em !important; }
    .tmodal { margin-left: 38% !important; }
    .cmodal { margin-top: 15% !important; }
    .header { height: 80px !important; }
    .body2{ height: 90% !important;}   

    /*==== SERVICIOS ====*/ 
    #galery { margin-left: 16% !important; }
    span { font-size: .6em !important;}
    .imgmuestra { height: 215px !important; }
    .imgmuestraser { height: 160px !important; }
    .imgp2{ width: 145px !important; margin-left: 0% !important; }

    .modalhz{ margin-left: 4% !important; margin-top: 38% !important; width: 90% !important;}
    #piefoto{ margin-left: 16% !important;}
    .modalvert{ margin-left: 21% !important; margin-top: 16% !important;}

    #title{font-size: 1.8em !important;}
    #descrip{font-size: .9em !important;}

    /*====== CONTACTOS ===*/
    #reds{ filter: invert(0%) !important;}
    #textem{ margin-top: 2% !important; }
    #senema{ margin-left: 19% !important; }

    #at{ margin-left: 25% !important; }
    
    #ad{ margin-left: 45% !important; }
}

/*DISPOSITIVOS SMARTPHONE width and Tablet*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
    /*============DIV====================*/
    .div-sm-6, .div-sm-2, .div-sm-8, .div-sm-4, .div-md-3, .div-sm-12, .div-sm-1, .div-sm-10, .div-smp-6 {
        float: left;
        margin-right: 1%;
        margin-bottom: 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        position: relative;
    }
    .div-sm-1 { width: 7.333333333333%; }
    .div-sm-2 { width: 15.666666666667%; }
    .div-md-3 { width: 24%; }
    .div-sm-4 { width: 32.3333333%; }
    .div-sm-6 { width: 49%; }
    .div-smp-6 { width: 48%; }
    .div-sm-8 { width: 65.666666666667%; }
    .div-sm-10 { width: 82.33333333333%; }
    .div-sm-12 { width: 99%; }
    #logo { 
        width: 5em !important;
        height: 3em !important;
        margin-top: 7%;
        cursor: pointer;
        margin-left: -41%;
    }
    #titulo{ display: none;}
    .menuh{ font-size: 1em !important; margin-top: 40%;}
    #titlen, #titles, #titlec{ display: none !important; }

    #redes { 
            width: 1.5em !important;
            height: 1em !important;
            margin-top: 18% !important;
    }
    #icons {
        display: block !important;
        width: 2em !important;
        height: 1.5em !important;
        margin-right: 3% !important;
        margin-top: 2% !important;
    }
    #eslo{
        display: block !important;
        margin-top: 2% !important;
        font-size: 1em;
        font-weight: bold;
    }
    .grid{margin-left: 2% !important;}
    .imgmuestra { height: 150px !important; }
    .imgmuestraser { height: 145px !important; }
    .imgp2{ width: 145px !important; margin-left: 0% !important;}
    #reds { width: 2em !important; }
    #imgc {
        width: 1em !important;
        height: 1em !important;
    }
   .tmodal { margin-left: 35% !important; }
   .cmodal { margin-top: 0% !important; }
    #map, #map2{ 
        width: 99% !important;
        height: 360px !important;
        top: 0% !important;
        left: .5% !important;
    }
    .header { height: 78px !important; }
    .body2{ height: 90% !important;}
    .body { height: 85% !important; }
    .secciones { font-size: .7em; }
    h3{ font-size: .9em; }

    #title{font-size: 1.8em !important;}
    #descrip{font-size: .9em !important;}

    /* ===== NOSOTROS ====== */
    video{ margin-left: 5.5% !important; width: 158vh !important; margin-top: 0% !important;}


    /* =========== SERVICIOS ========== */
    #imgus { height: 165px !important; margin-top: -33% !important;}
    .modalhz{ margin-left: 20% !important; margin-top: 2% !important; width: 60% !important;}
    #piefoto{ margin-left: 15% !important;}
    .modalvert{ margin-left: 38% !important; margin-top: 3% !important; height: 280px !important;}

    /*====== CONTACTOS ===*/
    #reds{ filter: invert(0%) !important; }
    #textem{ margin-top: 2% !important; }
    #senema{ margin-left: 21% !important; }
    #foot{ margin-top: 2% !important; }
    #cuerpo{ height: 245px !important;}

    #at{ margin-left: 2% !important; }
    
    #ad{ margin-left: 35% !important; }

}

    /*DISPOSITIVOS SMARTPHONE*/
@media only screen and (min-width: 0px) and (max-width: 479px) {
    /*============DIV====================*/
    .div-xs-6, .div-xs-2, .div-xs-8, .div-xs-4, .div-xs-3, .div-xs-12, .div-xs-1, .div-xs-10, .div-xsp-6 {
        float: left;
        margin-right: 1%;
        margin-bottom: 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        position: relative;
    }

    .div-xs-1 { width: 7.333333333333%; }
    .div-xs-2 { width: 15.666666666667%; }
    .div-xs-3 { width: 24%; }
    .div-xs-4 { width: 32.3333333%; }
    .div-xs-6 { width: 49%; }
    .div-xsp-6 { width: 48%; }
    .div-xs-8 { width: 65.666666666667%; }
    .div-xs-10 { width: 82.33333333333%; }
    .div-xs-12 { width: 99%; }
    /*===== INDEX ======*/
    #logo {
        width: 5em !important;
        height: 3em !important;
        cursor: pointer;
        margin-top: 15%;}
    #redes {
        width: 2em !important;
        height: 2em !important;
        margin-top:33% !important;
    }
    #titulo{ display: none;}
    #titlen, #titles, #titlec{ display: none !important; }
    #eslo{
        display: block !important;
        margin-top: 2% !important;
        font-size: 1em;
        font-weight: bold;
    }
    #icons {
        display: block !important;
        width: 2em !important;
        height: 1.5em !important;
        margin-top: 8% !important;
    }
    .imgmuestra { height: 120px !important; }
    .imgmuestraser { height: 100px !important; }
    .imgp2{ width: 68px !important; margin-left: 0% !important;}
    #reds { width: 2em !important; }
    
    /*==== NOSOTROS =====*/
    .textn{ margin-top: 0% !important; }
    video{width: 57vh !important; margin-top: 50% !important; margin-left: 0% !important;}
    .color-overlay{ height: 1024px !important;}

    #imgc { width: 1em !important; height: 1em !important; }
    .tmodal { margin-left: 5% !important; }
    .cmodal { margin-top: 20% !important; }
    #map, #map2 {
        width: 99% !important;
        height: 400px !important;
        top: 0% !important;
        left: .5% !important;
    }
    #imgus { height: 165px !important; }
    .secciones { font-size: .4em; }
    .header { height: 10% !important; }
    .body2{ height: 90% !important;}
    .body { height: 85% !important; }
    #clientes{ 
        width: 95% !important;
        height: 90%;
        margin-top: 12%;
        margin-left: 2%;
    }
    #galery { margin-left: 2% !important; }
    h3{ font-size: .7em; }
    .figcap p{ font-size: .6em; }
    .figcap a{ font-size: .6em; }

    /* ====== SECCIONES =========== */
    .modalhz{ margin-left: 7% !important; margin-top: 58% !important; width: 90% !important;}
    #piefoto{ font-size: .6em !important; margin-left: 10% !important;}
    .modalvert{ margin-left: 19% !important; margin-top: 35% !important; height: 360px !important;}


    #title{font-size: 1.4em !important;}
    #descrip{font-size: 1em !important;}

    /*====== CONTACTOS ===*/
    #reds{ filter: invert(0%) !important;}
    #senema{ margin-left: 18% !important;}

    #at{ margin-left: -40px !important; }
    
    #ad{ margin-left: 32px !important; }
}

/*============= FIN DE MEDIAS QUERYS =================*/


span { font-size: 1.2em; font-weight: 2000; cursor: pointer;}
#slc1, #slc2, #slc3, #slc4, #slc5, #slc6, #slc7, #slc8, #slc9, #slc0 { margin-top: 1.5%; }
#slc1 { border-bottom: 3px solid #00FFFF; } 
#slc2 { border-bottom: 3px solid #FF00FF; }
#slc3 { border-bottom: 3px solid #FFEF00; }
#slc4 { border-bottom: 3px solid #00FFFF; }
#slc5 { border-bottom: 3px solid #FF00FF; }
#slc6 { border-bottom: 3px solid #FFEF00; }
#slc7 { border-bottom: 3px solid #00FFFF; }
#slc8 { border-bottom: 3px solid #FF00FF; }
#slc9 { border-bottom: 3px solid #FFEF00; }
#slc0 { border-bottom: 3px solid #00FFFF; }



/*======= BASICA =======*/
.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    float: left;
    background: var(--blanco);
}

.header {
    width: 100%;
    height: 15%;
    position: relative;
    float: left;
    border-bottom: 3px solid var(--azul);
}

.body2 {
    width: 100%;
    height: 85%;
    position: relative;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
}
#icons {
    width: 3em;
    height: 2em;
    display: none;
}
#reds { width: 3em; height: 2em; filter: invert(100%);}
#redes {
    width: 2em;
    height: 2em;
    margin-top: 55%;
    position: relative;
    float: left;
    /*filter: invert(100%);*/
}
.extra {
    display: flex;
    justify-content: flex-end;
    margin-top: 3%;
}
.footer {
    width: 100%;
    height: 5%;
    position: relative;
    float: left;
    border-top: 3px solid var(--azul);
}
h3{ margin-top: -15px !important; }

.modalvert{
    margin-left: 39%;
    margin-top: 3%;
    height: 600px;
}

.modalhz{ margin-left:25%; margin-top:8%;
}

#piefoto{ color: white; margin-left: 40%;
}

.grid{margin-left: 2%;}
    

/*============= MODAL =============*/
#bg-negro {
    width: 100%;
    height: 100%;
    float: left;
    position: fixed;
    background: rgba(255, 255, 255, .1);
    z-index: 999999999;
    transition-timing-function: linear;
    /*-webkit-transition: .1s all;*/
    opacity: 0;
    visibility: hidden;
}

#modal {
    float: left;
    position: fixed;
        background:rgba(0, 0, 0, .7);
     z-index: 999999999999;
    border-radius: 2px;
    /*top: 50%;*/
    /*margin-top: -100px;*/
    box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, .5);
    /*transition-timing-function: linear;*/
    -webkit-transition: .2s all;
    opacity: 0;
    visibility: hidden;
    transition-timing-function: linear;
    -webkit-transform: scale(.9);
    /*width: 200px;*/
    /*left: 50%;*/
    overflow: hidden;
}

#modal>h1 {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: var(--blanco) !important;
    margin-top: 20px;
    margin-bottom: 20px;
}

#modal>p {
    color: #6f7a8c;
    width: 80%;
    float: left;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.chico { width: 300px !important; margin-left: -150px; }
.verModal {
    visibility: visible !important;
    opacity: 1 !important;
    -webkit-transform: scale(1) !important;
}

.grande { width: 100% !important;  height: 100%; }
.cmodal { margin-top: 10%; }
.bmodal {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: transparent;
    border-style: none;
    color: white;
}
.tmodal { margin-left: 45%; }
.title{ color: var(--blanco); }
.title:hover { background: white; color: rgb(211, 46, 98) }


/*============= INDEX =========*/
.body {
    width: 100%;
    height: 80%;
    position: relative;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
}

.imgmuestra {
    width: 100%;
    height: 245px;
    position: relative;
    float: left;
}
.imgmuestraser{
    width: 100%;
    height: 205px;
    position: relative;
    float: left;
    cursor: pointer;
 }

 /*.selector{ display: none !important; }*/
.imgp{
    width: 60%;
    margin-left: 18%;
}
.imgp2{ width: 60%; margin-left: 7%;}

.outmarg {
    margin-right: -.1%;
    margin-bottom: 5px;
    margin-left: .5%;
}
.menuh:hover{ color: var(--azul); }

/* === EFECTO DE GRID IMAGENES === */
/* ESTILO DE IMG */
.fig img {
    opacity: 1;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

/* ESTILO DE CONTENEDOR TEXTOS */
.figcap {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 4em 3em;
    color: var(--negro);
}
/* ESTILO DE ETQ P */
.figcap p {
    margin: 0 0 5px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s, -moz-transform 0.35s, -o-transform 0.35s, transform 0.35s;
    color: var(--negro);
}
/* ESTILO DE ETQ H3 */
.figcap h3 {
    opacity: 0;
    text-transform: uppercase;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

/* ==== ESTILOS DE ETQ A ==== */
/*.figcap a {
    position: absolute;
    opacity: 0;
    color: var(--negro);
}*/

/* ESTILO DE CONTENDOR CON LINEAS */
.figcap::before {
    position: absolute;
    top: 10%;
    right: 30px;
    bottom: 50%;
    left: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    content: '';
    opacity: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}

/* ========= HOVER =========== */
/* IMG */
.fig:hover img { opacity: 0.35; }

/* ====hover de h3 ==== */
.fig:hover .figcap h3 {
    opacity: 1;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.fig:hover .figcap p {
    opacity: 0.9;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}

.fig:hover .figcap a {
    opacity: 0.9;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}

/* es la forma que tiene las lineas, CONTENIDO*/
.fig:hover .figcap::before {
    background: rgba(255, 255, 255, 0);
    top: 30px;
    bottom: 30px;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

/*============= NOSOTROS =========*/
/*contenedor*/.textn{}
/*contendor h1*/.textn #titulous{}

.textn{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.textn H1{
    text-align: center;
    /* background: white; */
    padding: 20px;
    margin: 15px;
    z-index: 1;
    opacity: .8;
    color: white;
}

.textn p{
    text-align: center;
    /* background: white; */
    padding: 20px;
    margin: 15px;
    z-index: 1;
    opacity: .8;
    color: white;
}

video{ width: 150vh; margin-left: 15%; }

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.color-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: lightblue;
    width: 100%;
    height: 100%;
    opacity: .5;
}

/* #imgus { height: 540px; width: 100%; }  */

/*============= SERVICIO =========*/
#slc1:hover { color:var(--magenta);}
#slc3:hover { color:var(--magenta);}
#slc4:hover { color:var(--magenta);}
#slc2:hover { color:var(--magenta);}
#slc5:hover { color:var(--magenta);}
#slc6:hover { color:var(--magenta);}
#slc7:hover { color:var(--magenta);}
#slc8:hover { color:var(--magenta);}
#slc9:hover { color:var(--magenta);}
#slc0:hover { color:var(--magenta);}

.selector {
    background: var(--gris);
    float: left;
    justify-content: center;
    display: flex;
    width: 100%;
    position: relative;
}

.informacion {
    background: var(--blanco);
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
    overflow-y: auto;
}

/* es parte de serv.php */
.qflex {
    display: none;    
    opacity: 0;
    margin-left: 80%;
    -webkit-transition: 3s; /* For Safari 3.1 to 6.0 */
    transition: 3s;
}
#galery {
    display: block;
    margin-left: 17.7%;
    -webkit-transition: 3s; /* For Safari 3.1 to 6.0 */
    transition: 3s;
}
.movgalery{
    margin-left: 0% !important;
}

.movflex{
    display: block;
    margin-left: 0% !important;
}

.opserv{
    width: 100%;
    height: 200px !important;
}

.otro { overflow-y: auto; }

#at{ 
    filter: invert(100%);
    width: 3em;
    margin-left: 85%;
}

#ad{ 
    filter: invert(100%);
    width: 3em;
    margin-left: 50%;
}

/*============= CONTACT =========*/
.dats { margin-left: 5%; }
#imgc { width: 1.2em; height: 1.2em; filter: invert(100%);}
#map { 
    height: 480px;
    float: left;
}

#map2 { 
    height: 480px;
    float: left;
}
.qflexx { display: block; }

#renglon{ background: rgba(192, 192, 192, .2); border-radius: 25px;}
#mail{ 
    margin-top: 1%;
    border-radius: 5px;
    width: 100%;
    float: left;
    height: 35px;
    font-size: 15px;
    font-weight: 200;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 1);
    padding: 5px;
    outline: none;
    transition-timing-function: linear;
    /*-webkit-transition: .5s all;*/
    color: rgba(0, 0, 0, 1);
}
#cuerpo{ 
    background: rgba(192, 192, 192, .2);
    border: 2px solid rgba(192, 192, 192, .6) !important; 
    margin-top: 2%;
    width:100%; 
    height:295px;
    outline: none;
    border-radius: 5px;
    resize: none;
}
#senema{ 
    background: rgba(192, 192, 192, .5);
    height: 40px;
    width: 60%;
    border: 2px solid rgba(192, 192, 192, .6);
    color: white;
    outline: none;
    font-size: 1em;
    border-radius: 10px;
}
#titface{ margin-top:7px;}

a:link{ text-decoration:none; color: black; } 

/* 
#maps {
    width: 100%;
    height: 91%;
    position: absolute;
    float: left;
    top: 9%;
} */